<div class="panel panel-default">
  <div class="panel-heading">Edit your comment</div>
  <div class="panel-body">

  <%= render 'form', comment: @comment %>


  </div>
  <div class="panel-footer"> <%= link_to 'Show', @comment %> |
    <%= link_to 'Back', comments_path %></div>
</div>
