<div class="panel panel-default">
  <div class="panel-heading">Create new comment</div>
  <div class="panel-body">
<%= render 'form', comment: @comment %>

  </div>
  <div class="panel-footer"><%= link_to 'Back', post_comments_path(post_id: @comment.post_id) %></div>
</div>
