
<ul class="list-group">
  <h1><li class="list-group-item">Authors</li>
  <small>
  <li class="list-group-item">Weronika Żochowiec</li>
  <li class="list-group-item">Piotr Tomczyk</li>
  <li class="list-group-item">Michał Malesiński</li>
</small></h1>
</ul>