<div class="panel panel-default">
  <div class="panel-heading">Create new post</div>
  <div class="panel-body">
<%= render 'form', post: @post %>


  </div>
  <div class="panel-footer"><%= link_to 'Back', user_blog_path(id: @post.user_blog_id)%></div>
</div>
